.ciContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ciContainer textarea {
    padding: 1rem;
    max-width: 15vw;
    width: 12vw;
    max-height: 30vh;
    height: 15vh;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    color: black;
}

.ciContainer textarea:focus {
    border: 1px solid #39A900CC;
    outline: none;
}