.inputContainer{
    width: 15vw;
}
.loginInput {
    padding: 0.2rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    width: 15vw;
    border: none;
    border-bottom: 1px solid rgba(56, 169, 0, 0.6);
    color: rgba(56, 169, 0, 0.6);
    outline: none;
    background-color: transparent;

}

.loginInput::placeholder {
    color: rgba(57, 169, 0, 0.6);
    font-size: 1rem;
}