.defContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 10vw;
    max-width: fit-content;
    max-height: 25vh;
    height: 25vh;
    color: black;
    font-weight: 600;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.defContainer p {
    max-width: 20vw;
    height: 30%;
    display: block;
}

.defCContent {
    display:flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    height: 70%;
}

.defContainer::-webkit-scrollbar{
    width:0.8rem;
}

.defContainer::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #39A900;
}