.sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 14vw;
    height: 70vh;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
}
.logo-sb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}
.btn-sb{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 50%;
    width: 100%;
}
.log-out{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 0.9rem;
}