.sbuttonC{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    height: 10%;
} 

.sbutton{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    text-decoration: none;
    width: 11vw;
    height: 5vh;
    gap: 1rem;
    color: #39A900;
    cursor: pointer;
    padding-left: 1rem;
}

.sbuttonC .sbutton:hover{
    color: white;
    background-color: rgba(57, 169, 0, 0.60);
    border-radius: 10px;
}
